#services-block {
    .services {
        &__cards {
            padding: 0 12px;
            display: grid;
            grid-gap: 25px;
            @include bp(tablet) {
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            }
            .card {
                padding: 10px 16px;
                height: 100%;
                border: 1px solid $gray;
                border-radius: 5px;
                &-img-top {
                    max-width: 240px;
                    min-height: 140px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}
